<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>아무 말 대잔치</h1>
  </header>

  <div class="container">
    <%- body %>
  </div>

  <footer>
    © 2025 My Community —
    <a href="#">이용약관</a> ·
    <a href="#">개인정보처리방침</a>
  </footer>
</body>
</html>
